# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# macOS metadata files
.DS_Store

# Cached files
.cache/

# All data files
*.csv
*.json
*.db

ai_kit/
